<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Pharma &mdash; SoftWare Tea</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">*@
 
</head>



<body>
    <div class="site-wrap">


        <div class="site-navbar py-2">

            <div class="search-wrap">
                <!-- the search icone -->
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <!-- The logo of website -->
                        <div class="site-logo">
                            <a href="@Url.Action("AdminHome","Admins")" class="js-logo-clone">Pharma</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class="active"><a href="@Url.Action("AdminHome","Admins")">Home</a></li>

                                <li class="has-children">
                                    <a href="#">My Profile</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <br />
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("Details" , "Admins")">Show Profile</a></li>
                                        <li> <a href="@Url.Action("Edit" , "Admins")">Update Profile</a></li>
                                    </ul>
                                </li>


                                <li class="has-children">
                                    <a href="#">Mangement</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="@Url.Action("Create","Product")">Add New Product</a>
                                            <a href="@Url.Action("Index","Product")">List Product</a>


                                        </li>
                                    </ul>
                                </li>
                                <li class="#"><a href="@Url.Action("Index","Users")">Show Users</a></li>

                                <li class="#"><a href="@Url.Action("Index","Bills")">Show Bills</a></li>

                                <li class="#"><a href="@Url.Action("Log_out","Home")">Log out</a></li>
                            </ul>
                        </nav>
                    </div>
                   
                </div>
            </div>
        </div>
        @RenderBody()


  

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Login/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
