<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Pharma &mdash; SoftWare Tea</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">*@


</head>



<body>
    <div class="site-wrap">
        <div class="site-navbar py-2">

            

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="@Url.Action("Index","home")" class="js-logo-clone">Pharma</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li ><a href="@Url.Action("Index","home")">Home</a></li>
                                <li><a href="@Url.Action("Shop", "product")">Store</a></li>


                                <li class="has-children">
                                    <a href="@Url.Action("Index","home")">Categories</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#">Tablets</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Capsule</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Syrup</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">vial</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Ampoule</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Suppository</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Effervescent</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li><a href="@Url.Action("About","home")">About</a></li>
                                <li><a href="@Url.Action("Login","home")">Sign in</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                       
                        <a href="@Url.Action("Index","home")" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">0</span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()


        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                        <div class="block-7">
                            <h3 class="footer-heading mb-4">About Us</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
                                sed dolorum excepturi iure eaque, aut unde.
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Quick Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Tablets</a></li>
                            <li><a href="#">Capsule</a></li>
                            <li><a href="#">Syrup</a></li>
                            <li><a href="#">vial</a></li>
                            <li><a href="#">Ampoule</a></li>
                            <li><a href="#">Suppository</a></li>
                            <li><a href="#">Effervescent</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                                <li class="email">emailaddress@domain.com</li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Login/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
