<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Pharma &mdash; SoftWare Tea</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">*@

</head>



<body>
    <div class="site-wrap">


        <div class="site-navbar py-2">

            <div class="search-wrap">
                <!-- the search icone -->
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">     
                            <a href="@Url.Action("UserHome", "Users")" class="js-logo-clone">Pharma</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li><a href="@Url.Action("UserHome", "Users")">Home</a></li>
                                <li class="has-children">
                                    <a href="#">My Profile</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <br />
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("Details" , "Users", new { id = (int)Session["user_id"] })">Show Profile</a></li>
                                        <li> <a href="@Url.Action("Edit", "Users", new { id = (int)Session["user_id"] })">Update Profile</a></li>
                                    </ul>
                                </li>

                                <li><a href="@Url.Action("Shop", "product")">Store</a></li>


                                <li class="has-children">
                                    <a href="#">Categories</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <br />
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "Tablets" })">Tablets</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "Capsule" })">Capsule</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "Syrup" })">Syrup</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "vial" })">vial</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "Ampoule" })">Ampoule</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "Suppository" })">Suppository</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="@Url.Action("Shop" , "Product", new { search = "Effervescent" })">Effervescent</a>
                                            <ul class="dropdown">
                                            </ul>
                                        </li>
                                    </ul>

                                </li>

                                <li>
                                    <a href="@Url.Action("About","Home")">About</a>
                                </li>

                                <li class="#"><a href="@Url.Action("Log_out","Home")">Log out</a></li>

                            </ul>
                        </nav>
                    </div>
                    <div class="icons">

                        <a href="@Url.Action("Index","Carts")" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">@Session["number"]</span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()




    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Login/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>































