@model PahramcyOnline.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.fisrt_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.fisrt_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
