@model PahramcyOnline.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@* Should be Redesgined
    
    
@model mytestProject.Models.Product

@{




    ViewBag.Title = "product details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">



                    <p  style="font-size:160%;font-family:verdana">
                        name : @Model.name
                        <br />price : @Model.price<br />
                        (@Model.Category.name)
                    </p>
                    <img src="@Url.Content(Model.image)" alt="@Url.Content(Model.name)" height="300" width="250" />
                    <p  style="font-size:160%;font-family:verdana;">@Model.description</p>
                    <p>
                        <a href="@Url.Action("Edit","Products", new { id = Model.Id })" class="btn btn-dark px-5 py-3">
                            Update
                        </a>
                        <a href="@Url.Action("Delete","Products", new { id = Model.Id })" class="btn btn-danger px-5 py-3" >
                            Delete
                        </a>
                       

                    </p>

                </div>
            </div>
        </div>
    </div>



    
    
    
    
    *@

    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto align-self-center">
                <div class=" text-center">
                    <p style="font-size:200%;font-family:verdana">
                        @Model.pro_TradName
                    </p>
                    <hr />
                    <p>
                        <dl class="dl-horizontal" style="font-size:160%;font-family:verdana">
                            <dt>
                                @Html.DisplayNameFor(model => model.pro_prices)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pro_prices)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pro_quantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pro_quantity)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pro_company)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pro_company)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pro_pharmacology)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pro_pharmacology)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pro_type)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pro_type)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pro_GenericName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.pro_GenericName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.pro_image)
                            </dt>
                            <img src="@Url.Content(Model.pro_image)" alt="@Url.Content(Model.pro_TradName)" height="300" width="250" />

                        </dl>

                    <p>
                        <a href="@Url.Action("Edit","Product", new { id = Model.Id })" class="btn btn-dark px-5 py-3">
                            Update
                        </a>
                        <a href="@Url.Action("Delete","Product", new { id = Model.Id })" class="btn btn-danger px-5 py-3">
                            Delete
                        </a>


                    </p>
                </div>
                
            </div>
            </div>
</div>