@model PahramcyOnline.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pro_TradName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_TradName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_prices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_prices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_pharmacology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_pharmacology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_GenericName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_GenericName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
