@model IEnumerable<PahramcyOnline.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<hr />
<h2>Cart list</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product.pro_TradName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.fisrt_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product.pro_TradName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.fisrt_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cart_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cart_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cart_id })
        </td>
    </tr>
}

</table>
