@model PahramcyOnline.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="container">
        <h2>Profile : @Model.First_Name</h2>
        <div class="form-horizontal" style="width:100;height:100%;align-content:center;margin-left:100px;">


            <hr />

            <h3>  Your Email :  @Model.Email_Admin </h3>

            <br />


            <h3>Your Password : @Model.Password_Admin </h3>
            <br />



            <h3>Your first name : @Model.First_Name </h3>
            <br />


            <h3> Your Last name : @Model.Last_Name </h3>

            <br />

            


            <hr />
            <hr />
        </div>
    </div>

 