@model IEnumerable<PahramcyOnline.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fisrt_name) @Html.DisplayFor(modelItem => item.last_name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.User_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone_number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.address)
    </td>
</tr>
}

</table>
